*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid green;
    filter: blur(1);
    background-color: transparent 20%;
    
}
.buttons-container{
    border: 2px solid red;
    width: 25%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.boton1{
    border: 2px solid purple;
    height: 300px;
    filter: blur();
}
   

button{
    background: url(../img/gente-negocios-dandose-mano_53876-13391.avif );
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid orange;
    height: 100%;
    width: 100%;
    color: white;
    transition: .1s;
    
}
button:hover{
    cursor: pointer;
    background:transparent ;
    color: black;
    font-size: 50px;
}
